$main-color: #f25ca2;
$secondary-color: #032ca6;
$three-color: #0433bf;
$fourth-color: #021859;
$five-color: #0b9ed9;

$main-font: sans-serif;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@function font-color-setting($color) {
  @if (lightness($color) >70) {
    @return black;
  } @else {
    @return white;
  }
}

@mixin set-background-color($color) {
  background: $color;
  color: font-color-setting($color);
}

.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

body {
  line-height: 50px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  padding: 10px 30px;
  margin: 0 auto;
  // overflow: auto;
}

// button--------------------
@mixin set-button-color($color) {
  border-color: font-color-setting($color);
  color: font-color-setting($color);
}

button {
  padding: 20px;
  background: rgba(255, 0, 0, 0);
  border: solid 2px;
  border-radius: 30px;
  transition: 0.1s;
}

.button {
  &-1 {
    @include set-button-color($fourth-color);
  }
  &-1:hover {
    transition: 0.1s;
    color: white;
    background-color: $main-color;
    border-color: $main-color;
    transform: scale(1.1);
  }

  &-2 {
    @include set-button-color($fourth-color);
  }
  &-2:hover {
    transition: 0.1s;
    color: white;
    background-color: $fourth-color;
    border-color: $fourth-color;
    transform: scale(0.93);
  }
}

//padding and margin paragraph
$paragraph: (1, 2, 3, 4, 5);
@each $number in $paragraph {
  .m-#{$number} {
    padding: #{$number}rem;
    margin: #{$number}rem;
  }

  .button-#{$number} {
    padding: 20px 35px;
    margin: 1em;
  }

  .button-#{$number}:hover {
    box-shadow: 1px 1px 5px black;
  }
}
//main navigation------------------
.main {
  @include set-background-color($five-color);
  font-family: $main-font;
  height: 700px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }
    li {
      padding: 1em;
    }
    a {
      font-size: 1em;
      color: white;
      transition: 0.5s;
    }
    a:hover {
      color: $fourth-color;
      transition: 0.5s;
    }
  }

  &-show {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    .test {
      // background: black;
      padding: 25px 50px;
    }

    img {
      // background: white;
      width: 30%;
    }
  }
}

//content-------------------------
.content {
  @include set-background-color($secondary-color);
  font-family: sans-serif;
  padding-top: 50px;
  height: minmax(900px auto);

  &-warp {
    margin: 20px 100px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      width: 20%;
    }
  }

  p {
    line-height: 1.5;
  }
  &-1 {
    transition: 0.3s;
    height: minmax(250px auto);
    margin: 10px 10px;
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 10px;
  }

  &-1:hover {
    @include set-background-color(white);
    transition: 0.3s;
    border-color: white;
    border-radius: 50px;
    transform: scale(0.95);
  }

  &-2 {
    height: minmax(250px auto);
    margin: 10px 10px;
    padding: 10px 30px;
  }
}

//footer design--------------------------
.footer {
  @include set-background-color(black);
  font-family: sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//menu pages design-------------------------
.menu {
  @include set-background-color($fourth-color);
  font-family: sans-serif;
  padding: 30px 50px;
  height: minmax(800px auto);
  align-items: center;

  &-1 {
    display: flex;
    padding: 0 20px;
    align-items: center;
  }

  &-2 {
    display: flex;
    flex-direction: column;
  }

  p {
    line-height: 1.5;
  }
}

//responsive web-------------------
